mixin board-row(link, name, number, level, label, caret, shared)
  if link
    a.board-row(class="level-" + level href=link)
      if caret == "open"
        i.icon.icon-caret-down
      else if caret == "closed"
        i.icon.icon-caret-right
      else
        i.spacer
      //- if shared == "no"
      //-   i.icon.icon-folder
      //- if shared == "yes"
      //-   i.icon.icon-folder-shared
      span.board-name= name
      if shared == true
        i.icon.icon-user-filled
      if label == true
        i.icon.icon-circle
      //- span.board-number= number
      i.icon.icon-ellipsis
      include ../context-menus/board-context-menu
  else
    .board-row(class="level-" + level)
      if caret == "open"
        i.icon.icon-caret-down
      else if caret == "closed"
        i.icon.icon-caret-right
      else
        i.spacer
      //- if shared == "no"
      //-   i.icon.icon-folder
      //- if shared == "yes"
      //-   i.icon.icon-folder-shared
      span.board-name= name
      if shared == true
        i.icon.icon-user-filled
      if label == true
        i.icon.icon-circle
      //- span.board-number= number
      i.icon.icon-ellipsis
      include ../context-menus/board-context-menu

mixin person-row(name, level, caret)
  .person-row.hoverable(class="level-" + level)
    if caret == "open"
      i.icon.icon-caret-down
    else if caret == "closed"
      i.icon.icon-caret-right
    else
      i.spacer
    i.icon.icon-user
    span= name

mixin team-row(name, level, caret)
  .team-row.hoverable(class="level-" + level)
    if caret == "open"
      i.icon.icon-caret-down
    else if caret == "closed"
      i.icon.icon-caret-right
    else
      i.spacer
    span= name


//- ============================================================


.header-row.hoverable.btn-my-boards
  //- i.icon.icon-folder
  span.font-wgsn My Boards
  i.icon.icon-angle-up.pull-right
  
.block-bot-xxs.content-my-boards
  .block-xs
    .btn.btn-clear.btn-create-new-board
      //- i.icon.icon-plus
      span Create New Board

  .misc-row.block-xs.level-1
    //- i.icon.icon-folder
    span Mobile Uploads

  +board-row("/workspace/autumn-winter-2016", "Autumn/Winter 2016", "200", "1 autumn-winter-2016", false, "closed", false)
  +board-row(false, "Inspiration Images", "200", "1", false, "closed", false)
  +board-row(false, "Reports to Read", "200", "1 label-orange", true, "closed", true)
  +board-row(false, "Fashion Shows", "200", "1 label-blue", true, "open", false)
  +board-row("/workspace/balmain-2016", "Balmain 2016", "200", "2 balmain-2016", false, "closed", fatrue)
  +board-row(false, "Celine", "200", "2", false, "", false)
  +board-row(false, "Alexander Wang", "200", "2", false, "", false)
  +board-row(false, "Opening Ceremony", "200", "2 label-red", true, "closed", true)
  +board-row(false, "Lookbooks", "200", "1", false, "closed", fatrue)

.header-row.hoverable.btn-shared-boards
  //- i.icon.icon-user
  span.font-wgsn Shared With Me
  i.icon.icon-angle-up.pull-right

.block-bot-xxs.content-shared-boards
  +team-row("Product", "1", "open", "yes")
  +person-row("Julian Ramirez", "2", "open")
  +board-row(false, "Board name", "200", "3", "closed", "no")
  +board-row(false, "Really long board name", "200", "3", "closed", "no")
  +board-row(false, "Board name", "200", "3", "closed", "no")
  +board-row(false, "Board name", "200", "4", "", "no")
  +person-row("Sansan Chen", "2", "closed")
  +person-row("Andrew Harris", "2", "closed")
  +person-row("Nicky Ashwell", "2", "closed")
  +person-row("Theba Marando", "2", "closed")
  +person-row("Sarah Freiser", "2", "closed")
  +team-row("Content", "1", "closed", "yes")
  +team-row("Tech", "1", "closed", "yes")
  +team-row("QA", "1", "closed", "yes")
  +team-row("Content Graphics", "1", "closed", "yes")
  +team-row("Creative Services", "1", "closed", "yes")
  +team-row("Sales", "1", "closed", "yes")
  +team-row("Finance", "1", "closed", "yes")