mixin message-notification(unread, img, initials, name, attachments, message, time)
  a(href="/workspace/inbox")
    li.message.border-bottom
      if unread
        .unread-dot.pull-left
      if img
        .avatar.pull-left(style="background-image: url('" + img + "')")
      else
        .avatar.pull-left(data-initials=initials)
      .text.pull-left
        p
          span.text-bold= name
          span &nbsp;
          span.message-time.text-grey= time
        p
          span= attachments 
          span  images &middot; 
          span.message-preview= message

ul.context-menu.text-left#message-notifications-context-menu
  li.header-row.border-bottom.bg-grey
    h3.tight Messages

  .scroll-container
    +message-notification(true, "", "TM", "Theba Marando", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "10 minutes ago")
    +message-notification(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "2 hours ago")
    +message-notification(false, "", "SC", "Sansan Chen", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Today at 9:14am")
    +message-notification(false, "", "SC", "Sansan Chen", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Yesterday at 11:00am")
    +message-notification(false, "", "NA", "Nicky Ashwell", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Yesterday at 9:11am")
    +message-notification(false, "", "NA", "Nicky Ashwell", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "04/04/2016 at 11:52am")
    +message-notification(false, "", "NA", "Nicky Ashwell", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "04/04/2016 at 11:15am")
    +message-notification(false, "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "04/04/2016 at 9:00am")
    +message-notification(false, "", "AG", "Anna Glassman", 2, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "04/04/2016 at 8:52am")

  li.footer-row.border-top.bg-grey.text-right
    a.underlined.tight.wgsn-font.text-grey(href="/workspace/inbox") Go to your Inbox