mixin file(type, img, original, filename, ...caption)
  .file-container
    .file.border.hoverable.show-caption(class!=attributes.class)
      .thumb-container
        .thumb-inner(style="background-image: url('" + img + "');")
        if original == "yes"
          .original-artwork WGSN Original Artwork
      
      .caption-container.border-top
        ul.clean
          each item in caption
            li.tight= item
          li.filename.tight.block-top-xs= filename

      .file-utilities
        .btn.btn-clear.btn-add-to-board Add to board
        .btn.btn-clear.btn-item-menu: i.icon.icon-ellipsis
        
        ul.context-menu#item-context-menu
          .block-ver-xxs.border-bottom
            li.btn-open
              i.icon.icon-export
              span Open
          .block-ver-xxs.border-bottom
            li.btn-add-to-board
              i.icon.icon-plus-circle
              span Add to a Board
            li
              i.icon.icon-download
              span Download
            li
              i.icon.icon-print
              span Print
            li
              i.icon.icon-crop
              span Crop
            li.btn-send
              i.icon.icon-paper-plane
              span Send
          .block-ver-xxs
            li
              i.icon.icon-trash
              span Delete

      i.file-checkbox.icon.icon-tick-circle
      i.file-heart.icon.icon-heart-o


mixin file-details-view(type, img, original, filename, ...caption)
  .file-container.block-xs
    .file-details-view(class!=attributes.class)
      .thumb-container.hoverable
        img(src=img)

        .file-utilities-1
          i.file-checkbox.icon.icon-tick-circle
          i.file-heart.icon.icon-heart-o
      
      .caption-container.block-hor-md.block-ver-sm
        .block-bot-sm
          ul.clean
            li.font-wgsn= type
            each item in caption
              li.caption.text-bold= item

        .block-right-sm.block-bot-sm.inline-block
          ul.clean
            li.tight Image name:
            li.tight Format:
            li.tight Market:
            li.tight View:
            li.tight Category:
        .block-right-sm.block-bot-sm.inline-block
          ul.clean
            li.tight yzy_aw16_003.jpg
            li.tight JPG
            li.tight Menswear
            li.tight Complete look
            li.tight Showroom
        
        .block-bot-sm.border-top
          ul.clean.file-utilities-2
            li.block-right-xs.block-ver-sm.tight.inline-block.hoverable.btn-open: i.icon.icon-export
            li.block-hor-xs.block-ver-sm.tight.inline-block.hoverable.btn-add-to-board: i.icon.icon-plus-circle
            li.block-hor-xs.block-ver-sm.tight.inline-block.hoverable: i.icon.icon-download
            li.block-hor-xs.block-ver-sm.tight.inline-block.hoverable: i.icon.icon-print
            li.block-hor-xs.block-ver-sm.tight.inline-block.hoverable: i.icon.icon-crop
            li.block-hor-xs.block-ver-sm.tight.inline-block.hoverable.btn-send: i.icon.icon-paper-plane
            li.block-hor-xs.block-ver-sm.tight.inline-block.hoverable.hidden-image-library: i.icon.icon-trash