mixin file(type, img, original, comments, filename, ...caption)
  .file.hoverable.show-caption(class="file-type-" + type)
    img(src=img)
    
    .caption-container.border-top
      ul.clean
        each item in caption
          li= item
        li.filename.block-top-xs= filename

    .file-select-state
    
    .file-utilities
      .icon-container.text-center
        i.icon.icon-plus-circle.btn-add-to-board.hidden-workspace.hidden-workspace-trash
        i.icon.icon-download.hidden-image-library.hidden-workspace-trash
        i.icon.icon-print.btn-print.hidden-image-library.hidden-workspace-trash
        i.icon.icon-move.btn-move.hidden-image-library.hidden-workspace-folder
        i.icon.icon-ellipsis.btn-item-menu.hidden-workspace-trash
        include context-menus/item-context-menu

    i.file-checkbox.icon.icon-tick-circle
    i.file-heart.icon.icon-heart.hidden-workspace-trash
    
    if comments == true
      i.file-comment.icon.icon-comment-filled.hidden-workspace-trash


mixin file-details-view(type, img, original, comments, filename, ...caption)
  .file-details-view(class="file-type-" + type)
    .thumb-container.hoverable
      img(src=img)

      if comments == true
        i.file-comment.icon.icon-comment-filled

      .file-utilities-1
        i.file-checkbox.icon.icon-tick-circle
        i.file-heart.icon.icon-heart-o
    
    .caption-container.block-hor-md.block-ver-sm
      .block-bot-sm
        ul.clean
          li.wgsn-font= type
          each item in caption
            li.caption.text-bold= item

      .block-right-sm.block-bot-sm.inline-block
        ul.clean
          li.tight Image name:
          li.tight Format:
          li.tight Market:
          li.tight View:
          li.tight Category:
      .block-right-sm.block-bot-sm.inline-block
        ul.clean
          li.tight yzy_aw16_003.jpg
          li.tight JPG
          li.tight Menswear
          li.tight Complete look
          li.tight Showroom
      
      .block-top-xxs.block-bot-sm.border-top
        ul.clean.file-utilities-2
          li.block-xs.tight.inline-block.hoverable.btn-open: i.icon.icon-export
          li.block-xs.tight.inline-block.hoverable.btn-add-to-board: i.icon.icon-plus-circle
          li.block-xs.tight.inline-block.hoverable: i.icon.icon-download
          li.block-xs.tight.inline-block.hoverable: i.icon.icon-print
          li.block-xs.tight.inline-block.hoverable: i.icon.icon-crop
          li.block-xs.tight.inline-block.hoverable.btn-send: i.icon.icon-paper-plane
          li.block-xs.tight.inline-block.hoverable.hidden-image-library: i.icon.icon-trash