mixin file(type, img, original, filename, ...caption)
  .file-container
    .file.border.hoverable.show-caption(class!=attributes.class)
      .thumb-container
        .thumb-inner(style="background-image: url('" + img + "');")
        if original == "yes"
          .original-artwork WGSN Original Artwork
      
      .caption-container.border-top
        ul.clean
          each item in caption
            li.tight= item
          li.filename.tight.block-top-xs= filename

      .file-utilities
        .btn.btn-clear.btn-add-to-board Add to board
        .btn.btn-clear.btn-item-menu: i.fa.fa-ellipsis-h
        
        ul.context-menu#item-context-menu
          .block-xxs.border-bottom
            li
              i.icon.icon-export
              span Open
          .block-xxs.border-bottom
            li
              i.icon.icon-plus-circle
              span Add to a Board
            li
              i.icon.icon-download
              span Download
            li
              i.icon.icon-print
              span Print
            li
              i.icon.icon-crop
              span Crop
            li
              i.icon.icon-paper-plane
              span Send
          .block-xxs
            li
              i.icon.icon-trash
              span Delete

      i.file-checkbox: i.fa.fa-check
      i.file-heart.icon.icon-heart-o


mixin file-details-view(type, img, original, filename, ...caption)
  .file-container.block-xs
    .file-details-view.hoverable(class!=attributes.class)
      .thumb-container
        img(src=img)
        i.util-checkbox.fa.fa-square-o
        i.util-heart.fa.fa-heart-o
      
      .caption-container.block-xs
        ul.clean
          li.font-wgsn.block-hor-sm= type
          each item in caption
            li.caption.block-hor-sm= item
        
        ul.clean
          .block-hor-sm
            li.block-ver-xs.block-right-xs.tight.inline-block: i.icon.icon-export
            li.block-xs.tight.inline-block: i.icon.icon-plus-circle
            li.block-xs.tight.inline-block: i.icon.icon-download
            li.block-xs.tight.inline-block: i.icon.icon-print
            li.block-xs.tight.inline-block: i.icon.icon-crop
            li.block-xs.tight.inline-block: i.icon.icon-paper-plane
            li.block-xs.tight.inline-block: i.icon.icon-trash