.modal.show-left-side-panel#item-detail-modal
  .modal-controls
    i.icon.icon-angle-left.hoverable
    i.icon.icon-angle-right.hoverable
  
  .modal-info-panel.bg-white
    .modal-section-caption.block-md.border-bottom
      .block-bot-sm
        ul.clean
          li.modal-file-type.font-wgsn Image
          li.modal-file-name.text-bold Balmain
          li.modal-file-caption.text-bold.tight Autumn/Winter 2016
          li.modal-file-caption.text-bold.tight Paris
      .block-right-sm.inline-block
        ul.clean
          li.tight Image name:
          li.tight Format:
          li.tight Market:
          li.tight View:
          li.tight Category:
      .block-right-sm.inline-block
        ul.clean
          li.tight original_blm_aw16_003.jpg
          li.tight JPG
          li.tight Womenswear
          li.tight Complete look
          li.tight Catwalks

    .modal-section-other.show-comments
      .row.modal-tabs
        .col-xs-4.text-center: .tab.border-right.border-bottom.bg-grey.flex-center.hoverable.btn-modal-show-comments: span.font-wgsn Comments
        .col-xs-4.text-center: .tab.border-right.border-bottom.bg-grey.flex-center.hoverable.btn-modal-show-related-images: span.font-wgsn Related Images
        .col-xs-4.text-center: .tab.border-bottom.bg-grey.flex-center.hoverable.btn-modal-show-related-reports: span.font-wgsn Reports

      .block-top-sm
        .modal-comments
          .modal-scroll-container.block-hor-sm
            mixin comment(img, initials, comment, time)
              .comment.block-ver-sm.border-bottom
                if img
                  .block-right-xs.pull-left: .avatar(style="background-image: url('" + img + "')")
                else
                  .block-right-xs.pull-left: .avatar= initials
                .text.pull-left
                  p= comment
                  p.comment-time.tight.text-grey= time
            
            +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris.", "02/03/2016 at 11:00am")
            +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "02/03/2016 at 11:00am")
            +comment("", "SC", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "02/03/2016 at 11:00am")
            +comment("", "SC", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "02/03/2016 at 11:00am")
            +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at.", "Yesterday at 11:14am")
            +comment("", "NA", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Yesterday at 11:52am")
            +comment("", "NA", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at.", "4 hours ago")
            +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris.", "10 minutes ago")
            +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "A moment ago")
          .comment-input.block-xs.border-top: textarea(placeholder="Add a comment")
        
        .modal-related-images
          mixin related-image(img)
            .block-xxs.pull-left: .img.border.hoverable(style="background-image: url('" + img + "')")

          .modal-scroll-container.block-hor-sm.block-bot-sm
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/25/39/44/42/media_blm_aw16_001.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/35/39/44/42/media_blm_aw16_003.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/45/39/44/42/media_blm_aw16_004.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/55/39/44/42/media_blm_aw16_006.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/65/39/44/42/media_blm_aw16_007.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/75/39/44/42/media_blm_aw16_008.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/85/39/44/42/media_blm_aw16_010.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/95/39/44/42/media_blm_aw16_011.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/06/39/44/42/media_blm_aw16_013.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/16/39/44/42/media_blm_aw16_014.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/26/39/44/42/media_blm_aw16_016.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/36/39/44/42/media_blm_aw16_018.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/46/39/44/42/media_blm_aw16_019.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/56/39/44/42/media_blm_aw16_021.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/66/39/44/42/media_blm_aw16_022.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/76/39/44/42/media_blm_aw16_023.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/86/39/44/42/media_blm_aw16_025.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/96/39/44/42/media_blm_aw16_026.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/07/39/44/42/media_blm_aw16_028.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/17/39/44/42/media_blm_aw16_029.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/27/39/44/42/media_blm_aw16_031.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/37/39/44/42/media_blm_aw16_033.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/47/39/44/42/media_blm_aw16_034.jpg")
            +related-image("https://www.wgsn.com/storage/vol20/ss_image_store/57/39/44/42/media_blm_aw16_036.jpg")

        .modal-related-reports
          mixin related-report(img, category, name, date)
            .block-xxs.pull-left.hoverable.related-report
              .block-bot-xs
                .img(style="background-image: url('" + img + "')")
              .block-bot-xs
                p.text-grey.tight= category
                p.text-bold.tight= name
                p.text-grey.tight= date

          .modal-scroll-container.block-hor-sm
            +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
            +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
            +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
            +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
            +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
            +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
            +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
            +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")

  .modal-image-panel
    .img
    .btn-modal-left-side-panel.hoverable: i.icon.icon-angle-left
    i.file-heart.icon.icon-heart-o.hoverable
    i.icon.icon-cross.btn-close-fullscreen.hoverable
    .modal-inner-arrow-left.hoverable: i.icon.icon-angle-left
    .modal-inner-arrow-right.hoverable: i.icon.icon-angle-right

  .modal-tool-panel.bg-white
    .btn-modal-tool.block-sm.hoverable.flex-center.border-bottom.close-modal: i.icon.icon-cross
    .btn-modal-tool.block-sm.hoverable.flex-center.btn-fullscreen: i.icon.icon-fullscreen
    .btn-modal-tool.block-sm.hoverable.flex-center: i.icon.icon-crop
    .btn-modal-tool.block-sm.hoverable.flex-center.btn-add-to-board: i.icon.icon-plus-circle
    .btn-modal-tool.block-sm.hoverable.flex-center.btn-print: i.icon.icon-print
    .btn-modal-tool.block-sm.hoverable.flex-center: i.icon.icon-download
    .btn-modal-tool.block-sm.hoverable.flex-center.btn-send: i.icon.icon-paper-plane
    .item-count.text-center 3/43

  .modal-overlay